<%= erb :'../partials/_alert' %>

<div class="page-header">
  <h3><%= @email.new? ? t('email.new') : h(@email.label) %></h3>
</div>
<% if @email.class.readonly? %>
  <%= erb :'_show' %>
<% else %>
  <%= erb :'_edit_form' %>
<% end %>
