<div class="hero-unit">
  <h1>Hello, Haikanko!</h1>
  <br>
  <img style="float:left;margin-right:10px;" src="img/haikanko_logo.png" />
  <blockquote>
    <p><strong>Haikanko 配管工</strong> (Plumber) is a management tool of a Fluentd cluster where Fluentd is a OSS lightweight log collector.
    Fluentd <i>pipelines</i> logs as JSON streams to other systems like IRC, Email, Mongo DB, GrowthForecast, or other Fluentds. </p>
  </blockquote>
  <div style="clear:both;" />
</div>

